body {
    font-family: "Lato", sans-serif;
  
  }
  
  .sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    
  }
   
  /* Tạo kiểu cho các liên kết sidenav và nút thả xuống */
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /*dia chuột qua */
  .sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
  }
  
  /* Main content */
  .main {
    margin-left: 250px; 
    font-size: 20px; 
    padding: 0px 10px;
  }
  
   /* Thêm lớp đang hoạt động vào nút thả xuống*/
  .active {
    background-color: green;
    color: white;
  }
  
   /* Nơi thả xuống */
  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }
  
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .text{
    width: 50px;
    height: 20px;
    border: none;
    background: #f1f1f1;
    padding-left: 5px;
    margin-top: 8px;
  }

  .search{
    width: 50px;
    height: 20px;
    border: 0.5px solid floralwhite;

  }

  form{
    text-align: left;
    margin-right: 15px;
  }

